nav{
    width:20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left; 
    
}
body{
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
article{
    height:680px;
    width: 40%;
    background-color:#339933;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white ;
    border-radius: 10px;
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-align: center;
} 
#nav1 li{
    background-color: #339933;
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px;
    width:100%;
    overflow:hidden;
}
 a:visited{
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-decoration: none;
}
 a:hover{
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-decoration: underline;
}
 a:active{
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-decoration: none;
}
a{
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-decoration: none;
}


li{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
#mainhead{
    background-color:#0d260d;
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    background-color:#0d260d;
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}                 
header{
    background-color:#215f21;
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
aside{
    width:20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right; 
}
#video{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3{
    text-decoration: underline;
}
 